services:
  queue-worker:
    image: queue-worker
    build:
      context: .
      dockerfile: Dockerfile
    container_name: queue-worker
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  default:
    name: property-network
    external: true
